{% macro include_css(file) %}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/{}.css'.format(file)) }}">
{% endmacro %}

{% macro include_js(file) %}
  <script type="text/javascript" src="{{ url_for('static', filename='scripts/{}.js'.format(file)) }}"></script>
{% endmacro %}

{% macro nav(id, options) %}
  <hr class="mb-0">
  <div class="sticky-top bg-white">
    <div class="page-content mx-auto py-3">
      <nav class="nav nav-pills nav-justified align-items-stretch" id="{{ id }}-nav" role="tablist">
        {% for i in range(options|length) %}
          {% set option_id, option_label, option_encoding, option_context = options[i] %}
          <a class="nav-item nav-link d-flex justify-content-center align-items-center m-1 px-3 py-2 text-uppercase text-unselectable font-family-serif {% if i == 0 %} active {% endif %}" id="{{ id }}-nav-option-{{ option_id }}" data-toggle="pill" href="#{{ id }}-nav-content-{{ option_id }}" role="tab" aria-controls="{{ id }}-nav-content-{{ option_id }}" aria-selected="{% if i == 0 %} true {% else %} false {% endif %}">{{ option_label }}</a>
        {% endfor %}
      </nav>
    </div>
    <hr class="mt-0">
  </div>
{% endmacro %}

{% macro nav_content(id, options) %}
  <div class="tab-content" id="{{ id }}-nav-content">
    {% for i in range(options|length) %}
      {% set option_id, option_label, option_encoding, option_context = options[i] %}
      <div class="tab-pane {% if i == 0 %} active {% endif %}" id="{{ id }}-nav-content-{{ option_id }}" role="tabpanel" aria-labelledby="{{ id }}-nav-option-{{ option_id }}">
        {{ decode_content(option_id, option_encoding, option_context, **kwargs) }}
      </div>
    {% endfor %}
  </div>
{% endmacro %}

{% macro accordion(id, options) %}
  <div class="mb-3" id="{{ id }}-accordion">
    {% for i in range(options|length) %}
      {% set option_id, option_label, option_encoding, option_context = options[i] %}
      <div class="d-flex flex-row accordion-option-wrapper mt-3 mb-0 collapsed" id="{{ id }}-accordion-option-{{ option_id }}" data-toggle="collapse" data-target="#{{ id }}-accordion-content-{{ option_id }}" aria-expanded="false" aria-controls="{{ id }}-accordion-content-{{ option_id }}">
        <a class="accordion-option flex-fill mx-1 px-3 py-2 text-uppercase text-unselectable font-family-serif">{{ option_label }}</a>
      </div>
      <div id="{{ id }}-accordion-content-{{ option_id }}" class="collapse" aria-labelledby="{{ id }}-accordion-option-{{ option_id }}" data-parent="#{{ id }}-accordion">
        <div class="accordion-content ml-4 py-3 pl-3">
          {{ decode_content(option_id, option_encoding, option_context, **kwargs) }}
        </div>
      </div>
    {% endfor %}
  </div>
{% endmacro %}

{% macro sequence() %}
  <div class="sequence">
    {% for context in varargs %}
      {{ decode_content(None, 'html', context )}}
    {% endfor %}
  </div>
{% endmacro %}

{% macro carousel(id, content) %}
  <div class="d-flex flex-row justify-content-center my-3">
    <div class="carousel" id="carousel-{{ id }}">
      <div class="carousel-image-container text-unselectable m-3" id="carousel-{{ id }}-image-container">
        {% for url in varargs %}
          <img class="m-auto" {% if kwargs['max_image_size'] is not none %} style="max-width: {{ kwargs['max_image_size'] }}px;" {% endif %} src="{{ url }}"></img>
        {% endfor %}
      </div>
      {% if varargs|length > 1 %}
        <div class="d-flex flex-row">
          <a class="fas fa-chevron-left mx-3" id="carousel-{{ id }}-l"></a>
          <div class="d-flex flex-row flex-grow-1 justify-content-center">
            {% for i in range(varargs|length) %}
              <a class="fas fa-circle mx-1" id="carousel-{{ id }}-{{ i }}"></a>
            {% endfor %}
          </div>
          <a class="fas fa-chevron-right mx-3" id="carousel-{{ id }}-r"></a>
        </div>
      {% endif %}
      <div class="{% if kwargs['mode'] == 'caption' %} text-center {% else %} carousel-content text-justify {% endif %} font-size-paragraph m-3">
        {{ decode_content(*content) }}
      </div>
    </div>
  </div>
{% endmacro %}

{% macro decode_content(id, encoding, context) %}
  {% if encoding == 'template' %}
    {% include '{}.html'.format(id) %}
  {% elif encoding == 'textbook' %}
    {% for part_title, chapters in context.items() %}
      {{ section(3, part_title, False) }}
      {% for chapter in chapters %}
        <div class="my-2">
          <a href="{{ url_for('chapter:{}'.format(chapter)) }}">{{ kwargs['chapter_titles'][chapter] }}</a>
        </div>
      {% endfor %}
    {% endfor %}
  {% elif encoding == 'handbook' %}
    {% for chapter in context %}
      <div class="my-2">
        <a href="{{ url_for('chapter:{}'.format(chapter)) }}">{{ kwargs['chapter_titles'][chapter] }}</a>
      </div>
    {% endfor %}
  {% elif encoding == 'html' %}
    {{ context|safe }}
  {% elif encoding == 'text' %}
    {{ context }}
  {% endif %}
{% endmacro %}

{% macro button(id, label, href=None, big=False, reverse=False, margin=None) %}
  <div class="d-flex flex-row justify-content-center my-3">
    <a class="button m{% if margin %}{{ margin }}{% else %}x{% endif %}-1 px-3 py-2 text-center {% if reverse %} text-reverse {% endif %} text-uppercase text-unselectable font-family-serif {% if big %} font-size-subsubsection {% endif %}" {% if big %} style="border-radius: 100vh;" {% endif %} id="button-{{ id }}" {% if href is not none %} href="{{ href }}" {% endif %}>{{ label }}</a>
  </div>
{% endmacro %}
{% macro button_v2(id, content, href=None, big=False, reverse=False, margin=None, fullwidth=False, enabled=True, more=None) %}
  <div class="d-flex flex-row justify-content-center my-3">
    <a class="button {% if not enabled %} disabled {% endif %} m{% if margin %}{{ margin }}{% else %}x{% endif %}-1 px-3 py-2 {% if fullwidth %} w-100 {% endif %} text-center {% if reverse %} text-reverse {% endif %} text-uppercase text-unselectable font-family-serif {% if big %} font-size-subsubsection {% endif %} {% if more is not none %} {{more}} {% endif %}" {% if big %} style="border-radius: 100vh;" {% endif %} id="button-{{ id }}" {% if href is not none %} href="{{ href }}" {% endif %}>{{ decode_content(*content) }}</a>
  </div>
{% endmacro %}

{% macro textbox(id, right=False, width=None) %}
  {% if width %}
    <div class="d-inline-block">
  {% endif %}
  <form onsubmit="return false;">
    <input class="textbox {% if right %} text-right {% endif %} font-size-paragraph w-100" {% if width %} size="{{ width }}" maxlength="{{ width }}" {% endif %} type="text" id="textbox-{{ id }}">
  </form>
  {% if width %}
    </div>
  {% endif %}
{% endmacro %}

{% macro ellipsis() %}
  <div class="ellipsis d-flex flex-column align-items-center my-3">
    <div class="dot"></div>
    <div class="dot"></div>
    <div class="dot"></div>
  </div>
{% endmacro %}

{% macro section(level, label, render_link=True, center=False) %}
  {% set id = label.replace(' ', '-') %}
  <div class="section my-3 text-uppercase {% if center %} text-center {% endif %} font-family-serif font-size-{{ 'sub' * (level - 1) }}section" id="section-{{ id }}">
    {{ label }}
    {% if render_link %}
      <a class="section-link" href="#section-{{ id }}">&#167;</a>
    {% endif %}
  </div>
{% endmacro %}

{% macro slider(id, pre_label, post_label, min, max) %}
  <div class="my-3">
    <div class="d-flex flex-row my-3">
      <input type="range" min="{{ min }}" max="{{ max }}" value="{{ min }}" class="flex-grow-1 mx-3" id="slider-{{ id }}">
    </div>
    <div class="d-flex flex-row align-items-center">
      <a class="button mx-3 px-5" id="slider-{{ id }}-button-l"><</a>
      <div class="flex-grow-1 text-center">{{ pre_label }}<span id="slider-{{ id }}-label">{{ min }}</span>{{ post_label }}</div>
      <a class="button mx-3 px-5" id="slider-{{ id }}-button-r">></a>
    </div>
  </div>
{% endmacro %}

{% macro upload(id) %}
  <div id="{{ id }}" class="upload"></div>
{% endmacro %}
